<!DOCTYPE html>
<head>
<title>RDM6 - Easy</title>
<style>
table, th, td {
  border:1px solid black;
  padding:5px;
}
</style>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <script src="{{ url_for('static',filename='app.js') }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" > </script>
  <script>window.jQuery</script>
<script>
$(document).ready(writeTable());</script>
  <title>My app</title>

</head>
<body>


<p>Player 1 Ticket 1</p>
<table style="width:25%" id="table1">
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>

<br>
<p>Player 2 Ticket 2</p>
<table style="width:25%" id="table2">
</table>

<br>
<p>Player 3 Ticket 3</p>
<table style="width:25%" id="table3">
</table>

<br>
<p>Player 4 Ticket 4</p>
<table style="width:25%" id="table4">
</table>


<br>
<p>Player 5 Ticket 5</p>
<table style="width:25%" id="table5">
</table>

<br>

<p>Result Table</p>
<table style="width:25%" id="resultTable">

</table>



</body>
</html>
